<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imperium</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div>
            <a href="index.html"><img src="./images/Logo.png" alt="" /></a>
          </div>
          <div class="header_div">
            <div class="div-ul">
              <label class="bar_menu" for="ul">
                <img src="./images/Menu 2.png" alt="bar_menu" />
              </label>
              <input id="ul" style="display: none" type="checkbox" />
              <ul>
                <li>
                  <a href="#passive-income" class="scroll-link"
                    >Публичный трейдинг</a
                  >
                </li>
                <li>
                  <a href="#passive-incom" class="scroll-link"
                    >Пассивный заработок</a
                  >
                </li>
                <li><a href="">Доходы и безопасность</a></li>
                <li><a href="">Обратная связь</a></li>
              </ul>
            </div>
            <button>
              <a href="button_menu.html">
                <i class="fa-solid fa-user"></i>
                Вход</a
              >
            </button>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <section class="background-img">
        <div class="container">
          <div class="section-div">
            <div class="main-text">
              <p>Инвестируй с лучшими крипто-трейдерами</p>
            </div>
            <div class="information-div">
              <p>
                Сервис автоматического копирования сделок на криптовалютных
                биржах. Сервис абсолютно бесплатный для трейдеров
              </p>
            </div>
            <button class="button-register">
              <a href="register.html">Создать аккаунт</a>
            </button>
          </div>
        </div>
      </section>
      <section id="passive-income" class="section-2">
        <div class="container">
          <div class="main-div">
            <div>
              <div class="text"><h2>Публичный трейдинг</h2></div>
              <div class="text-p">
                <p>
                  платформа управления инвестициями на рынке криптовалют,
                  которая позволяет частным инвесторам копировать реальные
                  сделки успешных профессиональных трейдеров.
                </p>
              </div>
              <div class="div-child">
                <div class="div-img-1">
                  <img src="./images/Frame (12).png" alt="" />
                </div>
                <div class="div-child-text">
                  <div class="text-h3">
                    <h3>
                      Торгуй на своей бирже, попади в список топ-трейдеров и
                      собирай платных подписчиков со всего мира.
                    </h3>
                  </div>
                  <div class="text-p-1">
                    <p>
                      Больше не нужно заводить Телеграм-канал для публикации
                      сигналов и тратить огромные деньги на рекламу. Мы сами
                      привлекаем аудиторию и автоматизируем процесс
                      взаимодействия с подписчиками. Вам остается только
                      сфокусироваться на торговле.
                    </p>
                  </div>
                </div>
              </div>
              <div class="div-child-2">
                <div>
                  <div class="div-child-text">
                    <h3>
                      Все твои сделки будут автоматически открываться у твоих
                      подписчиков.
                    </h3>
                  </div>
                  <div class="div-child-text-2">
                    <p>
                      Процент от депозита, кредитное плечо, тейки и стопы будут
                      сразу расставлены в их сделках. Благодаря этому они
                      сэкономят кучу времени для вхождения в сделку, не будут
                      задавать лишних вопросов и не смогут отклониться от вашего
                      риск-менеджмента
                    </p>
                  </div>
                </div>
                <div class="div-img1">
                  <img src="./images/Frame (11).png" alt="" />
                </div>
              </div>
            </div>
            <div class="text-card">
              <h2>Как это работает</h2>
            </div>
            <div class="main-card">
              <div class="card">
                <div class="circle">
                  <img src="./images/Icons (3).png" alt="" />
                </div>
                <div>
                  <div class="text-h3-1">
                    <h3>Зарегистрируйтесь</h3>
                  </div>
                  <div class="div-p">
                    <p>на бирже Binance и на нашем сайте</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="circle">
                  <img src="./images/Group.png" alt="" />
                </div>
                <div class="text-h3-1">
                  <h3>Пополните ваш депозит на Binance</h3>
                </div>
                <div class="div-p">
                  <p>и подпишитесь на лучшего трейдера в нашем сервисе</p>
                </div>
              </div>
              <div class="card">
                <div class="circle">
                  <img src="./images/Icons (4).png" alt="" />
                </div>
                <div class="text-h3-1">
                  <h3>Займитесь чем-нибудь полезным</h3>
                </div>
                <div class="div-p">
                  <p>пока профессиональные трейдеры зарабатывают вам деньги</p>
                </div>
              </div>
            </div>
            <div class="div-h2">
              <h2>Полная инструкция по публичному трейдинг</h2>
            </div>
            <div
              style="display: flex; justify-content: center; padding-top: 65px"
            >
              <iframe
                width="1012"
                height="583"
                src="https://www.youtube.com/embed/xjX1XIjBeq8?si=s7HZspTQgxkJ0buX"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </section>
      <section id="passive-incom">
        <div class="container">
          <div class="main-div-2">
            <div class="div-h2-1"><h2>Пассивный заработок</h2></div>
            <div class="div-p-1">
              <p>
                платформа управления инвестициями на рынке криптовалют, которая
                позволяет частным инвесторам копировать реальные сделки успешных
                профессиональных трейдеров.
              </p>
            </div>
            <div class="child-div-1">
              <div><img src="./images/Frame (10).png" alt="" /></div>
              <div>
                <div class="div-h3-2">
                  <h3>
                    Пассивный заработок еще никогда не был таким простым и
                    прибыльным
                  </h3>
                </div>
                <div class="div-p-2">
                  <p>
                    Вам не нужно даже знать, что такое трейдинг и криптовалюта.
                    Вашим депозитом будет управлять один из лучших трейдеров
                    мира
                  </p>
                </div>
              </div>
            </div>
            <div class="child-div-2">
              <div>
                <div class="div-h3-2">
                  <h3>
                    Мы собираем статистику трейдеров по всем их сделкам и
                    выводим результаты на нашем сайте
                  </h3>
                </div>
                <div class="div-p-2">
                  <p>
                    Вам остается лишь выбрать самого подходящего трейдера и
                    подписаться на него. Все его сделки будут автоматически
                    открываться и закрываться на вашем биржевом аккаунте. В
                    любой момент вы можете отписаться от трейдера или вывести
                    свою прибыль
                  </p>
                </div>
              </div>
              <div>
                <img src="./images/Frame (8).png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-3">
        <div class="container">
          <div class="div-h2-2">
            <h2>Telegram трейдинг уже в прошлом</h2>
          </div>
          <div class="div-p-1">
            <p>
              Мы не смогли изложить здесь даже половину всех преимуществ нашей
              платформы, поэтому просто предлагаем самостоятельно окунуться в
              будущее трейдинга и пассивного заработка
            </p>
          </div>
          <div class="main-card-1">
            <div>
              <img src="./images/Ресурс 16222 1 (1).png" alt="" />
            </div>

            <div class="main-card-2">
              <div class="card">
                <div class="icon">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/2331/2331949.png"
                    alt="Доход"
                  />
                </div>
                <h2>Большие доходы</h2>
                <p>
                  Профессиональные трейдеры могут увеличивать депозит на 30%,
                  50% и даже 100% за месяц с минимальными рисками.
                </p>
              </div>
              <div class="card">
                <div class="icon">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/2331/2331949.png"
                    alt="Доход"
                  />
                </div>
                <h2>Большие доходы</h2>
                <p>
                  Профессиональные трейдеры могут увеличивать депозит на 30%,
                  50% и даже 100% за месяц с минимальными рисками.
                </p>
              </div>
            </div>
            <div class="main-card-2">
              <div class="card">
                <div class="icon">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/2331/2331949.png"
                    alt="Доход"
                  />
                </div>
                <h2>Большие доходы</h2>
                <p>
                  Профессиональные трейдеры могут увеличивать депозит на 30%,
                  50% и даже 100% за месяц с минимальными рисками.
                </p>
              </div>
              <div class="card">
                <div class="icon">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/2331/2331949.png"
                    alt="Доход"
                  />
                </div>
                <h2>Большие доходы</h2>
                <p>
                  Профессиональные трейдеры могут увеличивать депозит на 30%,
                  50% и даже 100% за месяц с минимальными рисками.
                </p>
              </div>
              <a href="register.html"
                ><button class="button-register1">Создать аккаунт</button></a
              >
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="footer-div">
          <a href="index.html"><img src="./images/Logo.png" alt="" /></a>
          <ul>
            <li>
              <a href="#passive-income" class="scroll-link"
                >Публичный трейдинг</a
              >
            </li>
            <li>
              <a href="#passive-incom" class="scroll-link"
                >Пассивный заработок</a
              >
            </li>
            <li><a href="">Доходы и безопасность</a></li>
            <li><a href="">Обратная связь</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
  <script src="main.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</html>
