<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/style1.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div>
            <a href="/templates/index.html"><img src="./images/Logo.png" alt="" /></a>
          </div>
          <div class="header_div">
            <div class="div-ul">
              <label class="bar_menu" for="ul">
                <img src="./images/Menu 2.png" alt="bar_menu" />
              </label>
              <input id="ul" style="display: none" type="checkbox" />
              <ul>
                <li>
                  <a href="#passive-income" class="scroll-link"
                    >Публичный трейдинг</a
                  >
                </li>
                <li>
                  <a href="#passive-incom" class="scroll-link"
                    >Пассивный заработок</a
                  >
                </li>
                <li><a href="">Доходы и безопасность</a></li>
                <li><a href="">Обратная связь</a></li>
              </ul>
            </div>
            <button>
              <a href="/templates/button_menu.html">
                <i class="fa-solid fa-user"></i>
                Вход</a
              >
            </button>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <section class="section-3">
        <div class="container">
          <div class="register-1">
            <div class="imga"><img src="/media/images/Image.png" alt="" /></div>
            <div class="register-menu">
              <div class="main-tex"><h2>Вход</h2></div>
              <div class="information-register">
                <div class="register-text"><p>Пассивный зароботок</p></div>
                <div class="register-text"><p>Пассивный зароботок</p></div>
              </div>
              <div class="register-form">
                <input
                  id="emaile"
                  autocomplete="email"
                  placeholder="Email"
                  type="email"
                />
              </div>
              <div class="register-form">
                <input
                  id="passworde"
                  autocomplete="current-password"
                  type="password"
                  placeholder="Пароль"
                />
              </div>
              <div class="register-form">
                <input
                  id="repeat_passworde"
                  autocomplete="current-password"
                  type="password"
                  placeholder="Повторить пароль"
                />
              </div>
              <div class="register-form">
                <button type="submit" class="register-button" onclick="login()">
                  Войти
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="footer-div">
          <a href="index.html"><img src="./images/Logo.png" alt="" /></a>
          <ul class="uli">
            <li>
              <a href="#passive-income" class="scroll-link"
                >Публичный трейдинг</a
              >
            </li>
            <li>
              <a href="#passive-incom" class="scroll-link"
                >Пассивный заработок</a
              >
            </li>
            <li><a href="">Доходы и безопасность</a></li>
            <li><a href="">Обратная связь</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
  <script src="/static/js/main.js"></script>
</html>
